/* Reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, em, strong,
ol, ul, li,
form, input, textarea,
button, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Style */

body {
  font-family: 'Roboto', sans-serif;
  background: #eef7f9;
}

.container {
  width: 1200px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.header {
  background: #353b45;  
  padding: 24px 0;
}

.nav {
  width: 1200px;
  margin: 0 auto;
}

.nav-title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #fff; 
}

.footer {
  background: #353b45;  
  padding: 24px 0;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #fff; 
}

.counter {
  padding: 24px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 16px;
}

.counter-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #dadada;
}

.counter-body {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-button {
  width: 40px;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
}

.counter-button__green {
  background: #689f27;
}

.counter-button__green:hover {
  background: #4d7228;
}

.counter-button__red {
  background: #e35c3c
}

.counter-button__red:hover {
  background: #c44e35;
}


.counter-number {
  line-height: 80px;
  font-weight: 700;
}

.small {
  font-size: 36px;
}

.medium {
  font-size: 48px;
}

.large {
  font-size: 64px;
}

.counter-size-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.counter-size-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dadada;
  background: #efefef;
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s ease;
}

.counter-size-item:hover {
  cursor: pointer;
  background: #eaeaea;
}

.counter-size-item:active {
  background: #dadada;
}

.counter-size-item__active {
  background: #dadada;
}