/* Reset */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, em, strong,
ol, ul, li,
form, input, textarea,
button, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Style */

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background: #efefef;
  border-bottom: 1px solid #dadada;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav-logo {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.nav-btn {
  padding: 12px 24px;
  border: 1px solid #dadada;
  border-radius: 8px;
  background: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  transition: 0.2s ease;
}

.nav-btn:hover {
  cursor: pointer;
  background: #fafafa;
}

.blog {
  padding: 80px 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.blog-item {
  padding: 16px 24px;
  border: 1px solid #dadada;
  border-radius: 12px;
  background: #fff;
}

.blog-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: 1px solid #dadada;
}

.blog-text {
  padding: 16px 0;
}

.footer {
  padding: 32px 0;
  background: #efefef;
  border-top: 1px solid #dadada;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
}